.badge {
  position: absolute;
  top: 0px;
  left: 0px;
  display: inline-block;
  z-index: 10;
  color: #fff;
  padding: 10px 25px;
  font-size: 16px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 5px;
  text-transform: capitalize;
}
.badge.hot {
  background: #f74b81 !important;
}
.badge.sale {
  background: #67bcee !important;
}
.badge.new {
  background: #3bb77e !important;
}
.badge.best {
  background: #f59758 !important;
}

.item {
  position: relative;
  overflow: hidden;
}

.item:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
}

.item img {
  transition: all 0.3s ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: scale(0.8);
  background: rgba(0, 0, 0, 0.1);
  z-index: 20;
}

.item:hover .overlay {
  opacity: 1;
  transform: scale(1);
}

.item .overlay ul {
  background: #fff;
  width: 149px;
  height: auto;
  border-radius: 10px;
  border: 1px solid #bce3c9;
}

.item .overlay ul li {
  margin-right: 0px !important;
}

.item .overlay ul li a {
  background: #fff;
  display: block;
  padding: 10px;
  border-radius: 1px solid #bce3c9;
}

.item .overlay ul li a svg {
  color: #3bb77e !important;
}

.item .overlay ul li a:hover svg {
  color: #000 !important;
  opacity: 0.7;
}

.item:hover img {
  transform: scale(1, 1);
}

.item .catName {
  color: #000;
  opacity: 0.8;
  font-size: 15px;
}
.item .title {
  margin: 10px 0px;
}

.item .title a {
  color: #000;
  font-weight: 600;
  font-size: 22px;
  text-decoration: none;
  line-height: 25px;
}

.item .brand {
  color: rgba(0, 0, 0, 0.6);
}

.item .brand a {
  text-decoration: none;
}
.item .brand .price {
  font-size: 25px;
  margin-right: 20px;
}

.item .brand .oldPrice {
  font-size: 20px;
  opacity: 0.6;
  color: #000;
  text-decoration: line-through;
}

.item .button {
  font-size: 40px;
  color: #3bb77e !important;
  padding: 10px 20px !important;
  background: #def9ec !important;
  text-transform: capitalize !important;
  background: #3bb77e !important;
}

.item button:hover {
  background: #3bb77e !important;
  color: #fff !important;
}
