/* Home Products Grid */
.homeProducts {
  padding: 25px 0px;
}

.homeProducts .productRow {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  gap: 20px;
}

/* Product Item Styles */
.homeProducts .productRow .item {
  flex: 1 1 calc(20% - 30px);
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 10px 0;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}

/* Responsive Grid */
@media (max-width: 1200px) {
  .homeProducts .productRow .item {
    flex: 1 1 calc(25% - 30px);
  }
}

@media (max-width: 992px) {
  .homeProducts .productRow .item {
    flex: 1 1 calc(33.33% - 30px);
  }
}

@media (max-width: 768px) {
  .homeProducts .productRow .item {
    flex: 1 1 calc(50% - 30px);
  }
}

@media (max-width: 576px) {
  .homeProducts .productRow .item {
    flex: 1 1 calc(100% - 30px);
  }
}

/* Product Image Styles */
.homeProducts .productRow .item img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.homeProducts .productRow .item:hover img {
  transform: scale(1.05);
}

/* Newsletter Section */
.newsLetterSection {
  width: 100%;
  height: auto;
  padding: 50px 20px;
}

.newsLetterSection .box {
  background: url(../../assets/banner10.png) no-repeat center center / cover;
  padding: 80px;
  border-radius: 30px;
  overflow: hidden;
}

.newsLetterSection .box .info h2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 70px;
  opacity: 0.8;
}

.newsLetterSection .box .info p {
  font-size: 22px;
  opacity: 0.8;
}

@media (max-width: 768px) {
  .newsLetterSection .box {
    padding: 40px 20px;
  }

  .newsLetterSection .box .info h2 {
    font-size: 40px;
    line-height: 50px;
  }

  .newsLetterSection .box .info p {
    font-size: 18px;
  }
}